<div class="card">
    <div class="card__title-container">
        <img class="card__img" src="{{flags.svg}}" alt="{{name}}">
        <h2 class="card__title">{{name}}</h2>
    </div>
    <div class="card__text-container">
        <p class="card__officail-name">Оффициальное название: {{name.official}}</p>
        <p class="card__capital">Столица: {{capital}}</p>
        <p class="card__population">Популяция: {{population}}</p>
        <p class="card__language">Языки: {{languages}}</p>
    </div>
</div>